body {
    height: 100vh;
}
.container {
    height: 100%;  
}
a {
    text-decoration: none !important;
    color: inherit !important;
}

#quote-box {
    background-color: white;
    padding: 1.5rem;
    border-radius: 1rem;
    flex-wrap: nowrap;
    font-size: 1.2rem;
    width: 450px;
}

.little {
    font-size: 0.9rem;
}